{% extends 'filmy/base.html' %}

{% block 'content' %}


<div class="container">
    <h1>najs hochu druha</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem sed, veritatis corporis earum corrupti molestias esse alias sint provident ipsam reprehenderit, eum quo a numquam ab nostrum aspernatur dolore? Provident!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit unde optio tempore adipisci itaque maxime, sit modi saepe repudiandae omnis inventore id sunt voluptatem! Corporis obcaecati dolor cumque molestias maxime?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam minima est temporibus at dignissimos quidem vitae atque aut unde aliquid eos esse, numquam veniam quae ea quo repudiandae reiciendis inventore.</p>

</div>
{% endblock %}

